@font-face {
    font-family: 'avenir';
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/avenir.ttc');
}

@media screen and (min-width: 768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
        float: none;
    }

    .navbar > .container .navbar-brand-centered,
    .navbar > .container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

a {
    color: #FF7057;
}

a:hover {
    color: #adadad;
    text-decoration: none;

}

li a:hover {
    color: #FF7057;
    text-decoration: none;
}

body {
    background: white;
    color: #adadad;
    font-family: 'avenir';
    font-size: 15px;
}

footer {
    background-color: black;
    font-size: 13px;
}

footer .p {
    color: #FF7057;
    margin: 2px;
}

footer p {
    margin: 0;
}

h1 {
    font-size: 3.5em;
    font-weight: 900;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.7em;
    font-weight: 700;
}

h4 {
    font-size: 1em;
    font-weight: 400;
}

h5 {
    font-size: 1em;
    font-weight: 200;
}

li {
    color: #4d4959;
    float: left;
    margin: 0 20px;
    text-transform: uppercase;
}

<!--
img {
    box-shadow: 3px 10px 40px -12px gray;
}

-->

li a {
    color: #CCCCCC;
}

p {
    font-weight: 200;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.big-button {
    background: #FF7057;
    color: white;
    display: block;
    text-align: center;
    padding: 5%;
    font-size: 2em;
    font-weight: 700;
}

.big-button:hover {
    color: white;
}

.barra {
    padding: 0 0 0;
}

.card {
    display: inline-block;
    box-shadow: 3px 10px 40px -12px gray;
    margin: 20px;
    position: relative;
    margin-bottom: 50px;

}

.card h3 {
    color: black;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.head-top {
    vertical-align: center;
    background-image: url('../images/17-1.jpg');
}

.head-top a {
    font-size: 18px;
    margin: -10px;
}

.imagep img{
    width:600px;
    height:500px;
    object-fit:cover;
}


.mid {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
}

.mid #row {
    align-content: center;
}

.navbar {
    padding: 2.2%;
}

.navbar-default .navbar-nav > li > a {
    color: #CCCCCC;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FF7057;
    font-weight: 900;
}

.nav > li > a {
    padding: 0px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
    z-index: 3;
}

.pullcontainer a#pull {
    display: none;
}

.publicidad {
    background: #FF7057;
    padding: 50px;
}

.publicidad h1 {
    font-color: white;
}

.publicidad h3 {
    font-color: black;
}

.ul-left {
    align-items: left;
}

.row {
    padding: 15px;
}

.text {
    border-top: 10px solid #FF7057;
    background: #FFF;
    padding: 20px;
    min-height: 200px;
}

.text p {
    margin-bottom: 0px;
}

.title {
    padding: 17.5vw;

}

.title h1 {
    color: #FF7057;
}

.title h3 {
    color: black;
}

#coach p {
    padding-top: 3%;

}

